<ion-view view-title="Data Form">
  <ion-content>
   <div class="list">
<label>
    <input type="text" placeholder="Name" ng-model="model.name" name="rName">
  </label>
  <label>
    <input type="text" placeholder="Phone" ng-model="model.phone" name="rPhone">
  </label>
</div>
      <button class="button" ng-click="insert(model)">Save</button>
      <a href="#/app/more" button class="button">Add More Detail</button></a>
        
         <ion-item ng-repeat="company in categories">
         
                {{company.name}}
                {{company.phone}}
                {{company.email}}
            </ion-item>
     <div class="list">       
{{model.name}}
{{model.phone}}
{{model.email}}
</div>
  </ion-content>
</ion-view>
